*.csv
*.pdf
*.log
*.db
*.zip
*.docx
*.env/
.env/
.venv/
__pycache__/
*__pycache__/
csv_diff_check/rushdiffcheck.json
config.py

scratch
scratch/
scratch/**
scratch/*.*
scratch/*

sms_cli/config.py
webserver/config.py

# logging
*.log
sms_cli/logs
sms_cli/logs/*
sms_cli/logs/*.log
sms_cli/send_lists
sms_cli/send_lists/*

*.DS_Store
*_original

